html,
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #7c9473;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 20px;
}

.hidden {
  display: none !important;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons {
  width: 150px;
  height: 150px;
  background-color: #e8eae6;
  border: none;
  box-shadow: 2px 2px 2px gray;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
}

.nav-icons {
  font-size: 110px;
  color: rgb(110, 110, 110);
}

.nav-icons:hover {
  cursor: pointer;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #e8eae6;
  box-shadow: 2px 2px rgb(110, 110, 110);
  margin: 5px;
  padding: 20px 0;
  font-size: 1rem;
}

.image-container {
  height: 120px;
  width: calc(92% / 3);
  margin: 5px;
}

.description {
  font-family: 'Lato', sans-serif;
  color: #505050;
  height: 100%;
  width: calc((90% / 3) * 2);
}

.fa-star,
.fa-star-half-alt {
  font-size: 14px;
}

.hot-time {
  color: white;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  padding: 0 4px;
  font-size: 12px;
}

.short-wait {
  background-color: #68ac5d;
}

.medium-wait {
  background-color: orange;
}

.high-wait {
  background-color: #dc0606;
}

.unavailable-time {
  background-color: black;
}

.description > p {
  font-family: 'Lato', sans-serif;
}

.wait-time {
  margin: 5px 0;
  font-weight: bold;
  font-size: 14px;
}

.restaurant-image {
  height: 120px;
  width: calc(92% / 3);
  object-fit: cover;
  margin: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(110, 110, 110);
}

.waitlist-button {
  background-color: #7c9473;
  box-shadow: 2px 2px 2px rgb(110, 110, 110);
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
}

.form-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  background-color: #e8eae6;
  border-radius: 5px;
  border: 0;
  height: auto;
  padding: 10px 0 30px 0;
  box-shadow: 4px 4px 4px rgb(110 110 110);
}

.join-form,
.error-section {
  width: 80%;
}

.join-form > h4 {
  font-family: 'Spectral', sans-serif;
  color: #7c9473;
  font-size: 22px;
  text-align: center;
}

.form-title {
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Spectral', sans-serif;
  color: #505050;
}

.form-restaurant {
  text-decoration: underline;
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 20px 0;
}

.join-form > label {
  font-family: 'Latos', sans-serif;
  color: #505050;
  font-size: 20px;
}

#name,
#party-size,
#update-name,
#unique-code,
.party-select,
.city-select,
#city {
  border-radius: 5px;
  border: 0;
  box-shadow: 4px 4px 4px rgba(110 110 110);
  height: 26px;
  margin: 10px 0 20px 0;
  font-size: 18px;
}

#name {
  width: 100%;
}

#update-name,
#unique-code,
#city {
  width: 100%;
}

#party-size {
  margin-left: 10px;
}

.form-button {
  width: 100%;
  margin-top: 10px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  background-color: #7c9473;
  box-shadow: 4px 4px 4px rgb(110 110 110);
}

.uniqueCode-block {
  height: 100px;
  width: 65%;
  border: 0;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgb(110 110 110);
  font-family: 'Spectral', sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container > h2 {
  width: 100%;
  text-align: center;
  margin: 0 5px;
  font-size: 20px;
}

.unique-code {
  font-size: 40px;
  color: #505050;
  margin: 0;
}

.party-description,
.name-location {
  font-family: 'Latos', sans-serif;
}

.name-location {
  width: 65%;
}

.party-location {
  width: 30%;
}

.reservation-text,
.party-text,
.code-title,
.error-text {
  font-family: 'Spectral', sans-serif;
  font-weight: bold;
}

.code-title {
  margin: 10px 0 0 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #505050;
}

.underline {
  text-decoration: underline;
}

.reservation-text {
  margin: 0;
}

.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-container,
.error-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e8eae6;
  border-radius: 5px;
  border: 0;
  height: auto;
  box-shadow: 4px 4px 4px rgb(110 110 110);
  padding: 10px 0 20px 0;
}

.update-form {
  width: 90%;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.update-text,
.party-text {
  font-size: 20px;
  color: #505050;
}

.party-text {
  margin-right: 10px;
}

.party-size-section,
.state-select-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.party-half {
  width: 50%;
}

.complete-party {
  text-align: center;
}

.complete-title {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.update-title {
  font-size: 21px;
  margin-bottom: 10px;
  text-decoration: underline;
  width: 100%;
}

.cancel {
  background-color: #dc0606;
}

.error-title {
  font-size: 30px;
  margin: 10px 0 20px 0;
  font-weight: bold;
  color: #505050;
}

.error-text {
  font-size: 20px;
  margin: 0;
  color: #505050;
}

.error-back {
  font-family: 'Latos', sans-serif;
  float: right;
  font-size: 13px;
  font-weight: bold;
  color: #505050;
}

.error-back:hover {
  cursor: pointer;
}

.loading-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loading-large {
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

.loading-small {
  width: 100px;
  height: 100px;
  align-self: center;
}

.search-title {
  font-size: 30px;
  font-family: 'Spectral', sans-serif;
  color: #7c9473;
  margin: 0;
  font-weight: bold;
}

.search-header-container {
  width: 100%;
}
