html,
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #7c9473;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons {
  width: 150px;
  height: 150px;
  background-color: #e8eae6;
  border: none;
  box-shadow: 2px 2px 2px gray;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
}

.nav-icons {
  font-size: 110px;
  color: rgb(110, 110, 110);
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #e8eae6;
  box-shadow: 2px 2px rgb(110, 110, 110);
  margin: 5px;
  padding: 20px 0;
}

.image-container {
  height: 120px;
  width: calc(92% / 3);
  margin: 5px;
}

.description {
  font-family: 'Lato', sans-serif;
  color: #505050;
  height: 100%;
  width: calc((90% / 3) * 2);
}

.fa-star,
.fa-star-half-alt {
  font-size: 14px;
}

.hot-time {
  color: white;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  padding: 0 4px;
}

.short-wait {
  background-color: #68ac5d;
}

.medium-wait {
  background-color: ;
}

.description > p {
  font-family: 'Lato', sans-serif;
}

.wait-time {
  margin: 5px 0;
  font-weight: bold;
}

.restaurant-image {
  height: 120px;
  width: calc(92% / 3);
  object-fit: cover;
  margin: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(110, 110, 110);
}
