html,
body {
  margin: 0;
  padding: 0;
}

.header{
  display:flex;
  align-items:center;
  height:35px;
  background-color:#7c9473;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 4px grey;
}

.logo {
  width:12%
}
